<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Sim Racing Equipment</h1>
    <p class="lead">Quickly build an epic sim racing rig from a huge slection of second hand sim equipment! Can't find what your looking for? Try use the search bar</p>
</div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 text-center border-bottom">Brands</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/homepage/Fanatec.jpg');"
        routerLink="/category/1">
          <div class="d-flex flex-column h-100 p-7 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/homepage/mozalogo.jpg');"
        routerLink="/category/6">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/homepage/logitechlogo.jpg');"
        routerLink="/category/3">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/homepage/tmlogo2.jpg');"
        routerLink="/category/4">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/homepage/simucube.png');"
        routerLink="/category/5">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          </div>
        </div>
      </div>
    </div>
  </div>
   
